In [1]:
from surprise import SVD, evaluate
from surprise import KNNBasic
from surprise import Dataset
from surprise import similarities
from surprise import Reader
from surprise.model_selection import GridSearchCV
import pandas as pd
from surprise.model_selection import cross_validate
algo = SVD()
data =Dataset.load_builtin('ml-100k')

In [2]:
df1 = pd.read_csv('https://raw.githubusercontent.com/angus001/Data643/master/Project2/ratings2.csv', sep=',')
movie_names = pd.read_csv ('https://raw.githubusercontent.com/angus001/Data643/master/Project2/movies.csv',sep = ',')
df1.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>userId</th>
      <th>movieId</th>
      <th>Id2</th>
      <th>rating</th>
      <th>timestamp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>7</td>
      <td>1</td>
      <td>1</td>
      <td>3.0</td>
      <td>851866703</td>
    </tr>
    <tr>
      <th>1</th>
      <td>9</td>
      <td>1</td>
      <td>1</td>
      <td>4.0</td>
      <td>938629179</td>
    </tr>
    <tr>
      <th>2</th>
      <td>13</td>
      <td>1</td>
      <td>1</td>
      <td>5.0</td>
      <td>1331380058</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>1</td>
      <td>1</td>
      <td>2.0</td>
      <td>997938310</td>
    </tr>
    <tr>
      <th>4</th>
      <td>19</td>
      <td>1</td>
      <td>1</td>
      <td>3.0</td>
      <td>855190091</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
movie_names.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>movieId</th>
      <th>title</th>
      <th>genres</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Toy Story (1995)</td>
      <td>Adventure|Animation|Children|Comedy|Fantasy</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>Jumanji (1995)</td>
      <td>Adventure|Children|Fantasy</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Grumpier Old Men (1995)</td>
      <td>Comedy|Romance</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>Waiting to Exhale (1995)</td>
      <td>Comedy|Drama|Romance</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>Father of the Bride Part II (1995)</td>
      <td>Comedy</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
reader = Reader(rating_scale = (1,5))
#df1.head()

param_grid = {'n_epochs': [5, 10], 'lr_all': [0.002, 0.005],
              'reg_all': [0.4, 0.6]}

df2 = Dataset.load_from_df(df1[['userId','Id2','rating']], reader)
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3)

In [5]:

gs.fit(df2)
#print(gs.best_params['mae'])

In [6]:
print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

0.914110947967
{'n_epochs': 10, 'lr_all': 0.005, 'reg_all': 0.4}

In [7]:
trainset = df2.build_full_trainset()
sim_options={'name':'cosine', 'user_based':True}
algo2 = KNNBasic(sim_options =sim_options)

algo2.train(trainset)

C:\Users\Angus\Documents\Winpython32\WinPython-32bit-3.6.3.0Qt5\python-3.6.3\lib\site-packages\surprise\prediction_algorithms\algo_base.py:51: UserWarning: train() is deprecated. Use fit() instead
  warnings.warn('train() is deprecated. Use fit() instead', UserWarning)

Computing the cosine similarity matrix...

Done computing similarity matrix.

In [8]:
userid = str(2)
itemid = str(10)
actual_rating = 4
algo2.predict(userid,itemid, actual_rating)

Prediction(uid='2', iid='10', r_ui=4, est=3.5436082556697732, details={'was_impossible': True, 'reason': 'User and/or item is unkown.'})